@font-face {
	font-family: Roboto;
	src: url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;1,700&display=swap);
}

body {
	font-family: "Roboto", sans-serif;
	font-size: 14px;
}
section:nth-child(2n + 1) {
	background: #000;
}

h1 {
	text-transform: uppercase;
	font-weight: 700;
	color: #ffffff;
	font-size: 48px;
}

h3 {
	border-bottom: 2px solid #f39200;
	color: #f39200;
}

a {
	transition: all 0.4s ease 0s;
}

a:hover {
	color: #f39200;
	transition: all 0.4s ease 0s;
}

.header {
	height: 62px;
	background: rgba(255, 255, 255, 0.33);
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 10;
}

.logo {
	margin-top: 2px;
	width: 147px;
	height: 60px;
}

.menu {
	margin-top: 20px;
	font-weight: 700;
	text-transform: uppercase;
}

.menu__item {
	list-style: none;
}

.menu__item:nth-child(n + 2) {
	margin-left: 16px;
}

.menu__item-link {
	text-decoration: none;
	color: #000;
}

.section__banner {
	background-image: url(../img/Photogenica-PHX319306238.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	z-index: 0;
	padding: 150px 0px;
}

.section__banner::after {
	content: "";
	background: rgba(0, 0, 0, 0.4);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0.4;
	z-index: -1;
}

.block__content-banner {
	margin-top: 488px;
}
.content__banner-title {
}
.banner__title-org {
	font-size: 48px;
	text-transform: uppercase;
	font-weight: 700;
	color: #f39200;
}
.banner__text {
	margin-top: 15px;
	font-weight: 700;
	font-size: 24px;
	color: #fff;
}
.banner__btn {
	margin-top: 30px;
}

.banner__btn-link {
	font-size: 16px;
	color: #fff;
	text-decoration: none;
	background: rgba(0, 0, 0, 0.29);
	border: 2px solid #ffffff;
	padding: 15px 46px;
	margin-left: 123px;
	border-radius: 4px;
	font-weight: 500;
	transition: all 0.7s cubic-bezier(0.46, 0.03, 0.52, 0.96) 0s;
}

.banner__btn-link:hover {
	background: #f39200;
	color: #000000;
	transition: all 0.7s cubic-bezier(0.46, 0.03, 0.52, 0.96) 0s;
	border: 0;
}

.title-section {
	margin-top: 62px;
}

.block__photo {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	z-index: 0;
	color: #fff;
	height: 300px;
}

.block__photo-mt {
	margin-top: 30px;
}

.block__photo::after {
	content: "";
	background-color: #000000;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0.5;
	z-index: -1;
}

.block__photo-1 {
	background-image: url(../img/1458938546.png);
}

.block__photo-2 {
	background-image: url(../img/SSmTF1627446919\ 1.png);
}

.block__photo-3 {
	background-image: url(../img/e099baaf-095d-4f0b-ac68-c85ac7a92975\ 1.png);
}

.block__photo-4 {
	background-image: url(../img/c386dd498c26e3c99479efb7f42a68a5\ 1.png);
}

.for__photo-title {
	height: 50%;
	display: flex;
	justify-content: center;
	align-items: end;
	padding: 0px 10px;
}
.for__photo-text {
	height: 50%;
	display: flex;
	justify-content: center;
	text-align: center;
	font-size: 1rem;
	padding: 0px 10px;
}
.row__mb {
	padding-bottom: 120px;
}
